@font-face{
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-SemiBold.ttf)
}
@font-face{
    font-family: 'Montserrat-light';
    src: url(../fonts/montserrat-light_[allfont.ru].ttf);
}